* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: 16px;
}

header {
    width: 100%;
    height: 650px;
    background-image: url(imagenes/6.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

header .textos {
    margin-top: 152px;
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}


/* Main */

.sobre-mi {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}

.encima h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.encima div {
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img {
    width: 95%;
    height: 90%;
    object-fit: cover;
}

.fondo {
    height: 500px;
    position: relative;
    background-image: url(imagenes/fondo.png);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.tituloo,
.subtituloo {
    color: #fff;
    text-align: center;
}

.tituloo {
    font-size: 56px;
    margin-top: 48px;
}

.subtituloo {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}


/* Responsive */

@media screen and (max-width:900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }
    header .titulo {
        font-size: 75px;
    }
    .none {
        display: none
    }
    .imagenes {
        flex-grow: 1;
    }
    .card {
        width: 90%;
    }
    .fondo {
        height: auto;
    }
    .especial {
        display: none;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }
    header .titulo {
        font-size: 65px;
    }
    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }
    .sobre-mi {
        font-size: 46px;
    }
    .tituloo {
        font-size: 46px;
    }
    .subtituloo {
        font-size: 20px;
    }
}