@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w1nmhj');
  src:  url('fonts/icomoon.eot?w1nmhj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w1nmhj') format('truetype'),
    url('fonts/icomoon.woff?w1nmhj') format('woff'),
    url('fonts/icomoon.svg?w1nmhj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e903";
  color: #25d366;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-mail-dot-ru:before {
  content: "\e900";
  color: #168de2;
}
